.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: auto auto auto;
  }
}
