.main {
  padding: 0 15px;
}

.container {
  display: flex;
  justify-content: center;
}

.robot {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 5px solid #ff9c3c;
  border-radius: calc(50%);
}

.mars {
  height: calc(100%);
  width: calc(100%);
}

.link {
  color: #0b3d91;
}

.link:hover {
  color: #fc3d21;
}
