.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
}

.button {
  display: block;
  color: white;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 87%;
  top: 0;
}
