.range {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.date {
  min-width: 110px;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #0b3d91;
  font-size: larger;
  color: white;
  cursor: pointer;
  transition: scale 0.3s ease;
  margin: 0 10px;
}

.button:hover {
  scale: 1.1;
}

.rightSide {
  text-align: right;
}
