.header {
  background-color: #0b3d91;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 40px;
  font-size: 25px;
  font-family: "Nasalization", sans-serif;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.link {
  transition: scale 0.3s ease;
}

.link:hover {
  scale: 1.1;
}

.container {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .navigation {
    gap: 25px;
  }
  .menu {
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 160px;
  }
  .navigation {
    gap: 30px;
  }
  .menu {
    height: 60px;
  }
}
